LOCAL_DATABASE_URL="postgresql://postgres:postgres@localhost:5433/domain_manager_local?schema=public"
DATABASE_URL="postgresql://postgres:postgres@localhost:5433/domain_manager_local?schema=public"
POSTGRES_PRISMA_URL="postgresql://postgres:postgres@localhost:5433/domain_manager_local?schema=public"
